################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WaterFlowPathGenerator
/WaterFlo.8A83C181/x64/Debug
/x64/Debug
